body{
	/* background-color: black; */
	background-repeat: no-repeat;
	background-size: 100%;
	color: black;
	text-align: center;
}

.topMenu{
    background:  #e9e513d8;
  	font-family: 'Lexend Exa', sans-serif;
	cursor: pointer;
	position: fixed;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	/* display: inline-block; */
	border: 2px solid #EBECF1;
	border-radius: 25px;
	/* animation: slide-in 1s ease-out; */
	padding: 2px 20px;
}

/* ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
} */

.topMenu a {
	color: rgb(0, 0, 0);
	-webkit-text-stroke: 0.3px gold;
	font-family: fantasy;
	padding: 14px 10px;
	font-size: 40px;
	text-decoration: none;
}
  
.topMenu a:hover {
	background-color:#6b7574;
	color: rgb(255, 255, 255);
} 


.registerForm
{
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    text-align:left;
    background-color: rgba(99, 100, 95, 0.459);
    width: 500px;
    height: 550px;
}

label{
	margin-left: 2%;
	font-family: cursive;
	letter-spacing: 1px;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    font-size: 25px;
}

input[type = "text"]
{
    width: 90%;
    text-align: left;
    margin-left: 5%;
    font-size: 17px;
}

.registerButton{
    background-color: #7099f0;
    color: white;
    font-size: 22px;
    letter-spacing: 4px;
    padding: 8px 20px;
    border: white solid;
    cursor: pointer;
    width: 30%;
    margin-left: 35%;
    border-radius: 25px;
}

.login
{
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    text-align:left;
    background-color: rgba(99, 100, 95, 0.459);
    width: 500px;
    height: 300px;
}

.loginButton{
    background-color: #7099f0;
    color: white;
    font-size: 22px;
    letter-spacing: 4px;
    padding: 8px 20px;
    border: white solid;
    cursor: pointer;
    width: 30%;
    margin-left: 35%;
    border-radius: 25px;
}

form .error {
	display: block;
	color: #6e1111;
}